@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar-thumb {
  background-color: #abffcb;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

*{
  font-family: var(--font-figtree-sans);
}